services:
  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:v24.1.2
    ports:
      - 9092:9092
      - 19092:19092
    command:
      - redpanda start
      - --smp 1
      - --overprovisioned
      - --kafka-addr internal://0.0.0.0:9092,external://0.0.0.0:19092
      - --advertise-kafka-addr internal://redpanda:9092,external://localhost:19092
  opensearch:
    image: opensearchproject/opensearch:2.14.0
    ports:
      - 9200:9200
      - 9600:9600
    environment:
      - discovery.type=single-node
      - DISABLE_SECURITY_PLUGIN=true
  dashboard:
    image: opensearchproject/opensearch-dashboards:2.14.0
    ports:
      - 5601:5601
    environment:
      - OPENSEARCH_HOSTS=http://opensearch:9200
      - DISABLE_SECURITY_DASHBOARDS_PLUGIN=true
  connect:
    image: docker.redpanda.com/redpandadata/connectors:v1.0.25
    hostname: connect
    ports:
      - "8083:8083"
    environment:
      CONNECT_CONFIGURATION: |
        key.converter=org.apache.kafka.connect.converters.ByteArrayConverter
        value.converter=org.apache.kafka.connect.converters.ByteArrayConverter
        group.id=connectors-group
        offset.storage.topic=_connectors_offsets
        config.storage.topic=_connectors_configs
        status.storage.topic=_connectors_status
        config.storage.replication.factor=-1
        offset.storage.replication.factor=-1
        status.storage.replication.factor=-1
      CONNECT_BOOTSTRAP_SERVERS: redpanda:9092
      CONNECT_GC_LOG_ENABLED: "false"
      CONNECT_HEAP_OPTS: -Xms1G -Xmx1G
      CONNECT_METRICS_ENABLED: "false"
      CONNECT_PLUGIN_PATH: "/opt/kafka/connect-plugins"
    volumes:
      - ./connect-plugins:/opt/kafka/connect-plugins
  neo4j:
    image: neo4j:latest
    environment:
      NEO4J_AUTH: neo4j/bennyB0M!123
    ports:
      - '7474:7474'
      - '7687:7687'
  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    depends_on:
      - redpanda
    ports:
      - 8080:8080
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: redpanda:9092
      # AUTH_TYPE: "LOGIN_FORM"
      # SPRING_SECURITY_USER_NAME: admin
      # SPRING_SECURITY_USER_PASSWORD: bennyB0M!123
      DYNAMIC_CONFIG_ENABLED: 'true'
    volumes:
      - /tmp/config.yml:/tmp/kafkaui/dynamic_config.yaml
